<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>New Invoice</title>
  </head>
  <body>
    <section class="max-w-2xl px-6 py-8 mx-auto bg-white dark:bg-gray-900">
      <main class="mt-8">
        <h2 class="text-gray-700 dark:text-gray-200">Dear user,</h2>
        <p class="mt-2 leading-loose text-gray-600 dark:text-gray-300">
          <%= @message%>
        </p>
        <p class="mt-2 text-gray-600 dark:text-gray-300">
          Thank you for your attention to this matter.<br>
          Best regards,<br>
        </p>
        <button class="px-6 py-2 mt-8 text-sm font-medium tracking-wider text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-lg hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
            <a href='https://tunespot.biz/#/login'>View Invoice</a>
        </button>
      </main>
    </section>
  </body>
</html>